/*@import url("../assets/css/bootstrap.min.css");
@import url("../assets/css/slick.css");
@import url("../assets/css/slick-theme.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");*/
:root {
	--themebgclr: #363533;
	--themeclr: #fac733;
	--themedarkclr: #053b73;
	--primaryClr: #000;
	--primarySecClr: #fac733;
	--primaryFont: 'Poppins',sans-serif;
	--primarySecFont: 'Orbitron',sans-serif;
	--primaryclr: #fac733;
}
@font-face {
	font-family:nowayregular;src:url(noway-regular-webfont.woff2);font-style:normal;font-display:swap;unicode-range:U+000-5FF;
}
@font-face {
	font-family:Futuramc;src:url(Font/Futuramc.ttf);font-style:normal;font-display:swap;unicode-range:U+000-5FF;
}
body {
	font-family: nowayregular!important;
}
.home-bannerSec {
	padding-top: 68px;
}
.home-bannerSec .home-slider .item a {
	width: 100%;
	height: auto;
}
.home-bannerSec .slick-slide a {
    min-height: calc(100vh - 97px);
    width: 100%;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.home-slider .item img {
	width: 100%;
    /*height: calc(100vh - 97px);*/
}
.site_header .navbar-brand {
	position: inherit!important;
	padding: 0;
}
.howToPaySec h5 {
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}
.footerSec {
	background: #17161a;
	padding: 30px 0 0;
	color: #c1c1c1;
	font-size: 14px;
}
.footCol .quicLink .paytm img {
	background: #fff;
	padding: 3px 0;
}
.burger {
	padding: 30px 0;
}
.tagline {
	color: #fff;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.8rem;
}
.comman_heading {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 900;
	background: -webkit-linear-gradient(#000,#282828);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.comman_heading.about {
	font-size: 2.5rem;
}
.howToPaySec {
	background: var(--primaryClr);
}
.wht_text {
	background: -webkit-linear-gradient(#fff,#fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.howToPaySec .icons img {
	cursor: pointer;
	width: 38px;
	padding-bottom: 15px!important;
}
nav.navbar.navbar-expand-lg.site_header {
	width: 100%;
}
.howToPaySec .icon {
	background: var(--themebgclr) none repeat scroll 0 0;
	background-image: linear-gradient(to left,rgba(255,0,0,0),var(--themebgclr));
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
}
.site_header {
	/*background: rgba(0,0,0,.5);*/
	background: #17161a !important;
	position: fixed;
	z-index: 1;
	transition: all .4s ease-in 0s;
    z-index: 99;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.35);
}
.login_menu button {
	background: 0 0;
	border: 1px solid #fff;
	transition: all ease .3s;
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	line-height: 23px;
}
.login_menu button:hover {
	background: var(--themeclr);
	transition: all ease .3s;
}
.home_banner .swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 80vh;
}
.home_banner {
	background-image: url(../index_file/images/banner1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.img-box {
	position: absolute;
	top: 52%;
	right: 9%;
}
.banner_content {
	width: 39%;
	color: #fff;
	max-height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner_content h1 {
	font-size: 2.2em;
	font-weight: 400;
	text-transform: uppercase;
}
.company_info_item img {
	width: 60px;
	margin-right: 20px;
}
.company_info_item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 40%;
	min-width: 185px;
	margin: 0 auto;
	border-radius: 7px;
	box-shadow: 2px 2px 4px 3px rgba(0,0,0,.1);
}
.company_info_item:hover {
	color: #fff;
	background-image: linear-gradient(to bottom right,#f2de6d,#d8b800);
}
.company_info_item::after {
	content: "";
	position: absolute;
	border-left: 5px solid var(--themeclr);
	height: 50%;
	top: 0;
	left: 0;
	border-top-left-radius: 5px;
}
.company_info_item:hover::after {
	border: 0;
}
.lovedByUsers {
	position: relative;
}
.dots-img {
	position: absolute;
	top: 0;
	right: 0;
}
.howToPaySec a {
	border-radius: 100px;
}
.upcomingMatches .league {
	box-shadow: 1px 2px 4px 2px rgba(0,0,0,.1);
	cursor: pointer;
	margin: 5px 10px 10px;
}
.upcomingMatches .league-match {
	color: #e0be00;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	display: flex!important;
	justify-content: space-between;
}
.upcomingMatches .league-match span {
	color: #000;
}
.upcomingMatches .slick-arrow {
	background: var(--themebgclr);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	z-index: 9;
	line-height: 55px;
	margin: 0 -20px;
	text-align: center;
}
.upcomingMatches .slick-arrow::before {
	content: "\f054";
	font-family: fontawesome;
	color: #fff;
}
.upcomingMatches .slick-next.slick-arrow::before {
	content: "\f054";
}
.upcomingMatches .slick-arrow::before {
	content: "\f053";
	font-family: fontawesome;
	color: #fff;
}
.getDailyFantasy {
	background: rgba(231,196,1,.2);
}
.btnPrimary {
	background: var(--themeclr)!important;
	padding: 10px 15px!important;
	border: .5px solid #dededed9!important;
	font-size: 16px!important;
	font-weight: 600;
	transition: all ease .3s;
	color: #000!important;
	scroll-behavior: smooth;
	display: inline-block!important;
	line-height: 15px;
}
.btnPrimary:hover {
	background-color: var(--themeclr);
}
.company_info_item h3 {
	font-size: 1.2em;
}
.bottom-banner-img {
	width: 100%;
	/*background-image: url(../index_file/images/bg-bottom.webp);*/
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
	position: relative;
	background: #17161a;
}
.signup_btn a {
	text-decoration: none;
}
.signup_btn .btn-grn {
	background: #ea4334;
	outline: 0;
	border: 0;
	border-radius: 5px;
	padding: 8px 35px;
	display: block;
	font-size: 14px;
	transition: all .3s;
	color: #fff;
	font-weight: 600;
}
.signup_btn .btn-grn:hover {
	opacity: .8;
	color: #fff;
	transition: all .3s;
}
.signup_btn .btn-blu {
	outline: 0;
	border: 0;
	border-radius: 5px;
	padding: 8px 25px;
	display: block;
	font-size: 14px;
	transition: all .3s;
	color: #fff;
	font-weight: 600;
}
.signup_btn .btn-blu:hover {
	opacity: .8;
	color: #fff;
	transition: all .3s;
}
.downloadapp .download_app_2 ul.btns li a {
	background-color: #000;
	border: none;
}
.downloadapp .download_app_2 ul.btns li a:hover {
	background-color: #333!important;
}
.download_app_2 ul.btns li a {
	display: block;
	padding-left: 60px;
	height: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,.27);
	position: relative;
	text-decoration: none;
	text-align: left;
	width: 185px;
	white-space: nowrap;
	border: 2px solid #fff;
	border-radius: 6px;
}
.download_app_2 ul.btns li a span.icon {
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	left: 15px;
	top: 50%;
	margin-top: -15px;
	display: inline-block;
}
.download_app_2 ul.btns li a span.text {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	margin-top: 6px;
	padding-left: 10px;
	border-left: 1px solid #fff;
}
.download_app_2 ul.btns li a span.text span.small {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	text-align: left;
	color: #fff;
}
.download_app_2 ul.btns li a span.text span.big {
	font-weight: 400;
	font-size: 16px;
	line-height: 15px;
	text-align: left;
	color: #fff;
}
.download_app_2 ul.btns {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.download_app_2 ul.btns li {
	display: inline-block;
}
.how-to-play-box:last-child .iconset::after {
	content: none;
}
.review_item img {
	margin-bottom: 10px;
	background-color: #eee;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #eee;
}
.review_item h5 {
	font-weight: 700;
}
.review_item p {
	opacity: .75;
}
.review_stars.nav {
	color: var(--themeclr);
}
.review_stars li:last-child {
	color: #ddd;
}
.footer_menu a:hover {
	opacity: 1;
}
.footer_menu a {
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	transition: all ease .3s;
	color: #fff;
	opacity: .7;
}
.social_menu a {
	color: #fff;
	width: 35px;
	height: 35px;
	display: inline-block;
	font-size: 14px;
	border-radius: 50%;
	border: 2px solid;
	text-align: center;
	line-height: 35px;
	margin-right: 10px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.social_menu a:hover {
	color: #343a40;
	background-color: #fff;
	border-color: #fff;
}
.league-match>img {
	max-height: 60px;
}
ul li {
	list-style: none;
}
.black_downloads {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.black_downloads li a {
	height: 50px;
	text-decoration: none;
	border: 1px solid transparent;
	transition: all .2s ease-in 0s;
	background-color: #fff;
	min-width: 180px;
	color: #282828;
	display: flex;
	align-items: center;
	padding-left: 10px;
	font-weight: 600;
	border-radius: 6px;
}
.black_downloads img {
	cursor: pointer;
	width: 35px;
	margin-right: 10px;
}
.black_downloads a .text .small {
	display: block;
}
.black_downloads a .text {
	border-left: 1px solid #aaa;
	padding-left: 20px;
}
.black_downloads li a:hover {
	background-color: #fff;
	color: #000;
}
.black_downloads li a:hover img {
	filter: brightness(20%);
}
.clientSec .slick-slide {
	margin: 0 15px;
	background: #fff;
	padding: 19px 50px;
	box-shadow: 0 3px 5px #ddd;
	border-radius: 16px;
	position: relative;
	min-height: 250px;
    display: flex !important;
    align-items: center;
}
.clientSec .slick-arrow {
	/*background: var(--themebgclr);*/
	height: 40px;
	width: 40px;
	border-radius: 50%;
	z-index: 9;
	line-height: 55px;
	margin: 0 -20px;
	text-align: center;
}
.clientSec .slick-arrow::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 1em;
    left: 0;
    position: relative;
    top: .65em;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 1em;
    color: var(--themeclr);
}
.clientSec .slick-next.slick-arrow::before {
    transform: rotate(45deg);
}
.clientSec .slick-slide::after {
	content: "";
	position: absolute;
	background: url(../index_file/images/queteBtm.png);
	width: 28px;
	height: 24px;
	top: 18px;
	left: 15px;
	background-size: cover;
}
.clientSec .slick-slide::before {
	content: "";
	position: absolute;
	background: url(../index_file/images/quateBtm.png);
	width: 40px;
	height: 40px;
	bottom: 5px;
	right: 15px;
	background-size: 100%;
	opacity: .3;
	background-repeat: no-repeat;
}
.slick-dots li button {
	display: none;
}
.clientSec .slick-list.draggable {
	padding: 10px 0!important;
}
.clientSec h3 {
	text-align: center;
	padding-bottom: 30px;
	font-size: 30px;
	font-weight: 500;
	color: #000714;
}
.clientSec .slick-slide p {
	color: rgba(0,7,20,.8);
	font-size: 14px;
	line-height: 22px;
	padding-left: 10px;
}
.clientImgbox {
	/*position: relative;
	padding-left: 90px;
	min-height: 60px;
	display: flex;
	align-items: center;*/
}
.clientslide h4 {
	color: #333;
	font-size: 16px;
	font-weight: 700;
	padding-left: 10px;
}
.clientImgbox span {
	color: #073481;
}
.clientImg {
	/*position: absolute;
	left: 0;
	top: 0;*/
	height: 100px;
	width: 100px;
    margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
	backface-visibility: hidden;
}
.primarHead {
	position: relative;
}
.howToPaySec .primarHead::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 20%;
	width: 10%;
	border: 1px solid var(--themeclr);
	border-color: var(--themeclr);
}
.howToPaySec .primarHead::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 20%;
	width: 10%;
	border: 1px solid var(--themeclr);
}
.bdr_lr {
	position: relative;
}
.bdr_lr::after {
	content: "";
	position: absolute;
	top: 23%;
	left: 20%;
	width: 10%;
	border: 1px solid var(--themeclr);
	border-color: var(--themeclr);
}
.bdr_lr::before {
	content: "";
	position: absolute;
	top: 23%;
	right: 20%;
	width: 10%;
	border: 1px solid var(--themeclr);
}
.home-slider .slider_item {
	margin: 5px 10px;
	box-shadow: 1px 1px 5px #ccc;
}
.home-slider .item:not(.slick-slide) {
	min-width: 100vw;
}
.home-slider .slick-arrow {
	background-color: rgba(250,199,50,.8)!important;
	line-height: 4px!important;
	color: #000!important;
	font-size: 28px!important;
	font-weight: 600!important;
}
.home-slider {
	/*margin-bottom: 20px!important;*/
}
html {
	scroll-behavior: smooth!important;
}
.howToPaySec ul {
	display: flex;
	flex-wrap: wrap;
}
.howToPaySec ul li:first-child,.howToPaySec ul li:nth-child(2) {
	margin-bottom: 30px;
}
.howToPaySec ul li {
	width: 50%;
}
.howToPaySec h4:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 3px;
	background-color: var(--themeclr);
	left: 0;
	z-index: 1;
	bottom: 0;
}
.howToPaySec h4 {
	position: relative;
	padding-bottom: 18px;
}
.info {
	font-family: Futuramc;
}
.info h1, .info h2, .info h3 {
	font-weight: 800;
	/*text-transform: uppercase;*/
	max-width: 800px;
	background: -webkit-linear-gradient(#f3e82f,#f9a824,#f3e82f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info h1 {
	font-size: 4rem;
}
.info h2, .info h1 span {
	font-size: 3.5rem;
}
.info h3, .info h2 span {
	font-size: 2.5rem;
}
.info .black_downloads li a {
    background: #fff;
    color: #000;
	height: 40px;
	min-width: 130px;
    padding-left: 5px;
    border: 0
}
.info .black_downloads img {
	width: 25px;
}
.info .black_downloads a .text {
    padding-left: 12px;
	line-height: 16px;
}
.info .black_downloads li a:hover, .info .black_downloads li a:focus {
	border: 0;
	background: #000;
	color: #fff;
}
.info .black_downloads li a:hover img, .info .black_downloads li a:focus img {
	filter: invert(1);
}
.home-slider .NextArrow {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 45px;
	height: 45px;
	background: rgba(0,0,0,.5);
	border: 0 none;
	margin-top: -22.5px;
	text-align: center;
	font: 20px/45px FontAwesome;
	color: #fff;
	z-index: 5;
}
.home-slider .NextArrow:before {
	content: '\f105';
}
.home-slider .PrevArrow {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 45px;
	height: 45px;
	background: rgba(0,0,0,.5);
	border: 0 none;
	margin-top: -22.5px;
	text-align: center;
	font: 20px/45px FontAwesome;
	color: #fff;
	z-index: 5;
}
.home-slider .PrevArrow:before {
	content: '\f104';
}
.home-slider .slick-dots {
	position: absolute;
	height: 5px;
	background: rgba(255,255,255,.2);
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.home-slider .slick-dots li button {
	display: none;
}
.home-slider .slick-dots li {
	float: left;
	width: 0;
	height: 5px;
	background: var(--primarySecClr);
	position: absolute;
	left: 0;
	bottom: 0;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: 0;
}
.slick-list.dragging {
	cursor: hand;
}
.slick-slider .slick-list,.slick-slider .slick-track {
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:after,.slick-track:before {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.upcoming_matches #nav-tab {
	display: flex;
	text-transform: uppercase;
	border: none;
}
.upcoming_matches #nav-tab a {
	color: #333;
	font-weight: 600;
	font-size: 14px;
	margin-top: 5px;
}
.upcoming_matches #nav-tab .active {
	background-color: var(--primarySecClr);
	border-radius: 5px 5px 0 0;
}
.upcomingMatches .slider_item {
	box-shadow: 0 1px 5px #aaa;
}
.upcoming_matches .slider_item small {
	font-weight: 600;
}
.services_grp {
	background-color: #17161a;
}
.services_item {
	background-color: #303030;
	color: #fff;
	border: 2px solid #aaa;
	border-radius: 5px;
	padding: 20px 15px;
	text-align: center;
	flex: 1;
	margin: 0 10px;
}
.services_item p {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 0;
}
.services_item span {
	color: #e7c401;
	text-transform: uppercase;
	letter-spacing: .2px;
	font-size: 12px;
}
.services_item_1 {
	display: flex;
	align-items: center;
	background-color: #e7c401;
	padding: 7px 15px;
	border-radius: 5px;
	border: 2px solid #eee;
}
.services_item_1 p {
	font-size: 16px;
	font-weight: 600;
}
.ser_flex {
	margin-top: -72px;
	margin-bottom: 50px;
	justify-content: space-between;
	display: flex;
}
.howto-play_video .close  {
    margin-top: -15px;
    width: 25px;
    height: 25px;
}
.videoBox iframe {
	border-radius: 5px;
	margin-top: 10px;
}
.step-list li {
	display: flex;
	padding: 0;
	align-items: center;
	margin-bottom: 32px;
}
.step-list li:last-child {
    margin-bottom: 15px;
}
.step-list li span {
	font-size: 40px;
	margin-right: 30px;
	color: #e7c401;
	font-weight: 600;
}
.step-list li .strong {
	font-size: 16px;
	color: #282828;
	font-weight: 600;
    margin-bottom: 0.5rem;
}
.download_sec h3 {
	text-transform: uppercase;
	color: #fff;
}
.download_sec p.strong {
	color: #e7c401;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 600;
	margin: 10px 0;
}
.news_letter_form .form-control {
	width: 100%;
	height: 45px;
	border: 0;
	border-radius: 0;
}
.news_letter_form .form-control {
}
.black_downloads {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news_letter_form .btn {
	background-color: var(--themeclr);
	border-radius: 0;
	padding: 0 15px;
    min-width: 160px;
	font-weight: 600;
	transition: all .4s ease-in 0s;
}
.news_letter_form .btn:hover {
	background-color: #fff;
	color: #282828;
}
.news_letter_form {
	display: flex;
	justify-content: center;
}
.getDailyFantasy .stron {
	color: #343a40!important;
    font-size: 1.5rem;
    font-weight: 600;
}
.about_item .card {
	margin-bottom: 20px;
	border: 1px solid transparent;
	background-color: #e7c401a1;
}
.about_item .card .strong {
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 20px;
	width: 100%;
}
.about_item .card {
	margin-bottom: 20px;
	border: 1px solid transparent;
	background-color: #e7c401a1;
}
.about_item .card .card-body {
	background-color: #fff;
}
.select_arrow [aria-expanded=false]::after {
	content: "";
	border: 3px solid #000;
	border-left: none;
	border-bottom: none;
	content: '';
	display: block;
	height: 12px;
	width: 12px;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	position: absolute;
	top: 12px;
	right: 20px;
	transition: all .4s linear 0s;
}
.select_arrow [aria-expanded=true]::after {
	content: "";
	border: 3px solid #000;
	border-left: none;
	border-bottom: none;
	content: '';
	display: block;
	height: 12px;
	width: 12px;
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 12px;
	right: 20px;
	transition: all .4s linear 0s;
}
.about_item a.btn {
    background: transparent;
    display: block;
    text-align: center;
    position: relative;
    border: 0;
    font-size: 16px;
    /*opacity: ;*/
}
.about_item a.btn::before {
	content: "Show More";
}
.about_item a.readMore::before {
	content: "Show Less";
}
.about_item a.btn.collpsed
.about_item a.btn:focus {
	box-shadow: none;
}

.info h4 {
	display: flex !important;
	align-items: center;
	margin: 10px 0;
	color: #f6c73f;
	text-shadow: 2px 3.464px 16px #000;
	text-transform: uppercase;
	/*border-top: 1px dotted #eee;*/
	display: inline-block;
	padding-top: 10px;
	/*border-bottom: 1px dotted #eee;*/
	padding-bottom: 10px;
}
.info h4 img {
	width: 35px;
    filter: brightness(100);
    margin: 0 10px;
}
.info a img {
	margin-top: -6px;
}
.all_series .select_option_item .dropdown.bootstrap-select {
	background-color: #eee;
	border: 1px solid #eee;
}
.join_btn {
	height: 35px;
	color: #282828;
	line-height: 31px;
	padding: 0 15px;
	border: 2px solid #fff;
	border-radius: 5px;
	background-color: #e7c401;
	transition: all .2s ease-in 0s;
	font-weight: 600;
}
.join_btn:hover {
	background-color: #fff;
	color: #282828;
}
.login_btn {
	line-height: 19px;
	height: 35px;
	font-weight: 600;
}
.description {
	height: 140px;
}
.download_user {
    background: #fff;
    padding: 20px 0;
}
.download_item h3 {
	font-size: 40px;
    color: #17161a;
}
.download_item h4 {
    font-size: 24px;
    font-weight: 600;
    color: #17161a;
}
.download_item ul li {
	font-size: 20px;
	line-height: 30px;
    color: #17161a;
}
.download_item p {
	text-transform: uppercase;
	font-size: 18px;
	color: #969696;
}
.getFanasy h1 {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	font-style: italic;
}
.orSymbol {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin: 15px 0 0;
    max-width: 325px;
    text-align: center;
}
.download_form {
	flex-direction: column;
}
.download_form input {
	background-color: #fff;
	color: #000;
	height: 40px;
    width: 35%;
	border: 0;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.send-link_dn button {
    background-color: var(--themeclr);
    color: #282828
    font-size: 15px;
    font-weight: 600;
    font-weight: 600;
    padding: 9px 10px;
    border: 0;
    border-radius: 3px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.download_form input:focus, .send-link_dn button:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28) !important;
}
.downloadBtn_forBoth ul {
	justify-content: flex-start;
}
.downloadBtn_forBoth li a {
    background: #fff !important;
    color: #282828 !important;
	font-size: 18px;
	display: flex;
	line-height: 18px;
    padding: 8px;
    height: 50px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.downloadBtn_forBoth li a > span:first-child {
    background: #282828;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 25px;
    text-align: center;
}
.downloadBtn_forBoth li a img {
    filter: brightness(100);
    width: 25px;
    margin-right: 0;	
}
.downloadBtn_forBoth li a:hover img {
    filter: brightness(100);
}
.downloadBtn_forBoth li a .text {
	padding-left: 10px;
    border-left: 0;
}
.downloadBtn_forBoth a:focus {
	border: 1px solid #17161a;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28) !important;
}
.downloadBtn_forBoth a i {
    color: #282828;
	font-size: 22px;
}
.black_btn {
	background-color: #000!important;
	color: #fff!important;
	min-width: 155px!important;
	height: 45px!important;
}
.black_btn .text {
	padding-left: 10px!important;
}
.black_btn img {
	margin-right: 5px;
}
.black_btn:hover img {
	filter: brightness(100%)!important;
}
.panel_grp {
	text-align: center;
	cursor: pointer;
}
.panel_grp p {
}
.multiple-items.slick-slide {
	width: 19%!important;
}
.suport_list li a {
	color: #c1c1c1;
	padding: 0 10px;
	margin-bottom: 5px!important;
	display: inline-block;
	transition: all .4s ease-in 0s;
}
.suport_list li a:hover {
	color: var(--themeclr);
}
.about_item .card .card-body p {
	font-size: 16px;
	margin-bottom: 10px;
}
.about_item .card .card-body p.strong {
    font-weight: 600;
}
.about_item .card .card-body ul li {
	margin-bottom: 10px;
	font-size: 16px;
}
.videoBox {
	height: 380px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
}
.videoBox a {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.step_test .slick-track {
	display: flex;
}
.step_test .slick-slide {
	margin: 0 10px;
}
.download_bg .get_bonus a.btn img {
    width: 20px;
}

@media (min-width:992px) and (max-width:1199px) {
	.home-bannerSec {
	    padding-top: 63px;
	}
	.slider_grp .info {
		margin-left: 25px;
	}
	.app_banner .row {
		padding-top: 70px;
	}
}
@media (min-width:768px) and (max-width:1024px) {
	.clientSec .slick-next {
		right: -10px;
	}
	.clientSec .slick-prev {
		left: -10px;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.home-bannerSec .slick-slide a {
	    background-position: 90%, 50%;
	}
	.home-bannerSec {
	    padding-top: 62px;
	}
	.footCol {
	    flex: 0 0 33.33%;
	    margin-bottom: 18px;
	}
	.bannerConte {
		padding: 0 5%;
	}
	.loginSignup {
		padding: 30px 10px;
	}
	.footerSec .mediaIcon li {
		margin-right: 3px;
	}
	.footerSec .mediaIcon li a {
		width: 35px;
		height: 35px;
		font-size: 14px;
	}
	.cont2 .company_info_item {
		margin-left: 15%;
	}
	.home-slider {
		background-repeat: no-repeat;
		background-position: 16% 0;
		background-size: cover;
	}
	.home-slider .item.w-100 {
		background: rgba(0,0,0,.5);
		color: #fff;
		padding: 15px 0;
		letter-spacing: 1px;
	}
	.slider_grp .info h2 {
		font-size: 3rem;
	}
	.slider_grp .info {
		margin-left: 35px;
	    min-width: 310px;
	}
	.download_bg .get_bonus {
		padding-left: 38px;
	}
}
@media (min-width:1200px) {
	
}
@media (min-width:1024px) {
	.info h4 {
		font-size: 2rem;
	}
}
@media (min-width:992) {
	.home-slider {
		display: flex;
		align-items: center;
		background-position: bottom center;
		height: calc(100vh - 98px);
	}
}
@media (min-width:768px) {
	.site_header .row {
		/*width: 100%;*/
	}
	.step_test {
		display: flex;
		justify-content: space-between;
	}
	.slider_grp {
		display: flex;
		align-items: center;
		height: 100vh;
		justify-content: space-between;
	}
	.slide_img {
		display: flex;
		height: calc(100vh - 98px)	;
	}
	.slide_img figure {
		align-self: flex-end;
	}
}
@media only screen and (max-width:1199px) {
	.home-slider .item img {
	    height: auto;
	}
	.img-box {
		position: absolute;
		top: 50%;
		right: 9%;
		width: 450px;
	}
	.dots-img {
		width: 140px;
		top: 5%;
	}
	.bottom-banner-img::after {
		left: 10%;
	}
	.bottom-banner-img::before {
		right: 10%;
	}
	.description {
	    height: 130px;
	}
}
@media only screen and (max-width:1024px) {
	.img-box {
		position: absolute;
		top: 83%;
		right: 9%;
		width: 400px;
	}
}
@media only screen and (max-width:991px) {
	.home-slider .item img {
	    object-fit: contain;
	}
	.info .black_downloads .available {
		display: none !important;
	}
	.clientImg {
		height: 80px;
		width: 80px;
	    margin-right: 0;
	}
	.app_banner .row {
		padding-top: 103px;
	}
	.downloadBtn_forBoth li a {
		padding: 8px 15px 8px 8px;
	}
	.footer_download .black_downloads{
		display: flex !important;
	}
	.freeEntry h3 {
		line-height: 35px!important;
		font-size: 1.65em;
	}
	.banner_content {
		width: 55%;
	}
	.img-box {
		position: absolute;
		top: 79%;
		right: 6%;
		width: 350px;
	}
	.dots-img {
		top: 15%;
		width: 120px;
	}
	.black_downloads {
		/*display: block;*/
	}
	.black_downloads li a {
		min-width: 160px;
		background-color: #282828;
		color: #fff;
	}
	.download_off .black_downloads li a {
		min-width: 180px;
		background-color: #fff;
		color: #282828;	
	}
	.playStor {
		margin-top: -50px!important;
	}
	.primarHead::after {
		left: 10%;
	}
	.primarHead::before {
		right: 10%;
	}
	.bdr_lr::after {
		left: 10%;
	}
	.bdr_lr::before {
		right: 10%;
	}
	.footer-logo {
		display: block!important;
	}
	.slider_item figure {
		height: 50px;
		width: 50px;
	}
	.timer span {
		font-size: 12px;
	}
	.clientSec .slick-slide {
		padding: 20px 10px 10px;
	}
	.services_res {
		background-color: #222;
		display: block!important;
	}
	.services_res h3, .services_res h4, .services_res ul li {
		color: var(--themeclr);
	}
}
@media only screen and (max-width:767px) {
	.home-bannerSec {
		padding-top: 55px;
	}
	.slide_img {
		height: auto;
	}
	.info h1 {
		font-size: 3rem !important;
	}
	.info h2, .info h1 span {
		font-size: 2.5rem !important;
	}
	.info h3, .info h2 span {
		font-size: 2rem !important;
	}
	.comman_heading.about {
	    font-size: 2rem;
	}
	.site_header {
		/*background-color: transparent!important;*/
	}
	.clientSec .slick-slide {
		padding: 30px 20px 20px 20px;
	}
	.clientSec .slick-slide p, .clientSec .slick-slide h4 {
		/*padding-left: 0;*/
	}
	.clientSec .slick-slide::after {
		left: 20px;
	}
	.burger {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.upcomingMatches .slick-arrow {
		margin: -7px -10px;
	}
	.home_banner {
		padding: 50px 0;
	}
	.login_menu li:first-child {
		margin-right: 7px;
	}
	.login_menu button {
		padding: 4px 14px!important;
		font-size: 13px;
	}
	.navbar-brand img {
		max-width: 110px;
	}
	.banner_content {
		width: 100%;
	}
	.img-box {
		display: none;
	}
	.dots-img {
		width: 120px;
	}
	.primarHead::after {
		left: 0;
	}
	.primarHead::before {
		right: 0;
	}
	.bottom-banner-img::after {
		left: 5%;
	}
	.bottom-banner-img::before {
		right: 5%;
	}
	.bdr_lr::after {
		left: 0;
	}
	.bdr_lr::before {
		right: 0;
	}
	.clientSec .slick-arrow {
		margin: 0 -5px;
	}
	.step_test .slick-slide img {
		width: 100%;
	}
	.download_bg {
		height: 100vh;
		background-size: cover;
		display: flex;
		align-items: center;
	}
	.download_bg .banner_item.info {
		margin-top: 0;
	}
	.services_grp {
		display: none;
	}
	.all_series {
		display: none;
	}
	nav.navbar.navbar-expand-lg.site_header {
		width: 100%;
	}
	.res_px {
		padding: 0;
	}
	.upcoming_matches {
		background-color: #222;
		text-align: center;
	}
	.upcoming_matches .nav-tabs {
		width: 100%;
	}
	.upcoming_matches #nav-tab a {
		color: #fff!important;
		flex: 1;
	}
	.upcoming_matches #nav-tab .active {
		background-color: transparent!important;
		border: none!important;
		color: var(--primarySecClr)!important;
	}
	.upcoming_matches #nav-tab {
		border: none!important;
	}
	.upcoming_matches #nav-tab a:focus,.upcoming_matches #nav-tab a:hover {
		border: none!important;
	}
	.upcoming_matches #nav-tab>a {
		margin-top: 0!important;
		border: 1px solid transparent;
		border-radius: 0;
	}
	.nav_tab_flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.match_btn {
		border: 1px solid var(--primarySecClr);
		font-size: 16px;
		padding: 8px;
		color: var(--primarySecClr);
		letter-spacing: .5px;
		margin-bottom: 30px;
	}
	.upcoming_matches_item {
		background-color: #fff!important;
	}
	.services_res_item .services_item {
		border: 0;
		background-color: transparent;
		flex: auto;
		padding: 10px 0 0;
	}
	.services_res_item .services_item p {
		text-transform: capitalize;
		font-size: 18px;
		font-weight: 600;
	}
	.playStor h4 {
		font-size: 16px;
		margin-bottom: 25px;
	}
	.playStor li span::before {
		content: "";
		height: 10px;
		width: 10px;
		border: 1px solid var(--themeclr);
		border-radius: 50%;
		display: inline-block;
		background-color: var(--themeclr);
		margin-left: -25px;
		margin-right: 11px;
	}
	.playStor li {
		font-size: 13px;
		margin-bottom: 10px;
		padding-left: 30px;
	}
	.img-box3 {
		height: 345px;
		overflow: hidden;
	}
	.burger {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.about_item .card .strong {
		font-size: 14px!important;
		padding: 10px!important;
		margin-right: 45px;
	}
	.about_item .card span:before {
		right: 10px!important;
	}
	.black_downloads li a {
		height: 45px;
		background-color: #282828;
		color: #fff;
	}
	.home-slider .slick-arrow {
		display: none!important;
	}
	.slider_grp {
		flex-direction: column;
	}
	.home-slider {
		background-repeat: no-repeat;
		background-position: 16% 0;

	}
	.info {
		background-color: rgba(0,0,0,.5);
		padding: 15px 10px 0!important;
		text-align: center;
		margin-top: 2em;
		width: 100%;
		min-height: 185px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.info a {
		display: none!important;
	}
	.comman_heading {
		margin-bottom: 15px;
	}
	.info h2 {
		/*font-size: 30px!important;*/
		letter-spacing: 1px;
	}
	.info h4 {
		font-size: 20px!important;
	}
	.home-slider .item .img-fill {
		background-position: right;
	}
	.videoBox {
		background-size: cover;
		height: 280px!important;
		width: 100%;
	}
	.res_top_head .btn {
		color: #000;
		font-size: 14px;
		font-weight: 600;
	    min-width: 130px;
		padding: 7px 20px;
		border-radius: 5px;
	}
	.th_btn {
		background-color: var(--themeclr);
	}
	.download_btn:hover {
		background: var(--themeclr);
		color: #212529;
	}
	.videoBox iframe {
		border-radius: 5px;
		height: 215px;
	}
	.bdr_left {
		border-left: 1px solid #aaa!important;
	}
	.upcoming_matches #nav-tab a:not(.active) img {
		filter: brightness(100);
	}
	.banner_item h3 {
		color: var(--themeclr);
		font-size: 24px;
		font-family: nowayregular!important;
	}
	.banner_item h4 {
		color: #fff!important;
		border: 0!important;
		margin: 0!important;
	}
	.stepDwnldSec {
		background-color: #eee;
	}
	.steToDwnld h3 {
		font-size: 20px;
	}
	.flex_d {
		flex-direction: column;
	}
	.download_off {
		/*margin-left: 20px;*/
	}
	.get_bonus {
		width: 100%;
		position: fixed;
		bottom: 0;
		color: #fff;
		background-color: rgba(0,0,0,.9);
		padding: 15px 0;
		text-align: center;
		z-index: 1;
	}
	.upcomingMatches {
		overflow: hidden;
	}
	.footerSec {
		padding-bottom: 50px;
	}
	.get_bonus h4 {
		font-size: 30px;
	}
	.loginModal {
		max-width: 100%;
	}
	.suport_list {
		flex-wrap: wrap;
	}
	.download_bg .item .img-fill {
		height: 60vh!important;
	}
	.playnow_btn {
		min-width: 220px;
	}
	.upcoming_matches_item .tab-pane .row .col-md-4:last-child,.upcoming_matches_item .tab-pane .row .col-md-4:nth-child(4),.upcoming_matches_item .tab-pane .row .col-md-4:nth-child(5) {
		display: none;
	}
	.footRow .footCol {
		flex: 0 0 auto!important;
		width: 50%;
	}
	.footerSec .quicLink ul li a {
		padding-left: 0!important;
	}
	.footerSec .mediaIcon li {
		margin-bottom: 10px;
	}
	.download_bg .slick-list {
		width: 100%;
	}
	.slider_grp {
		padding: 0 15px;
	}
	.home-bannerSec .slick-slide a {
	    min-height: calc(100vh - 55px);
	}
	.ratingSec h2 {
		font-size: 34px;
	}
	.ratingSec span, .ratingSec p {
		font-size: 20px;
	}
	.footer_bottom {
	    padding-bottom: 130px;
	}
}
@media (max-width:575px) {
	.mobile_download_bg .fsl11Site a {
		position: absolute;
		top: 0;
		left: 30px;
		width: 100px;
		height: 80px;
		z-index: 999;
	}
	.mobile_download_bg {
		height: 75vh;
		background-size: 100% 100%;
		position: relative;
	}
	.mobile_download_bg .downloadApp {
	    position: absolute;
	    left: 0;
	    bottom: 20px;
	    width: 100%;
	    text-align: center;
	}
	.mobile_download_bg .downloadApp p {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
	    margin-bottom: 15px;
	}
	.mobile_download_bg .downloadApp p span {
		color: var(--themeclr);
	}
	.mobile_download_bg .downloadApp .downloadApp_btn {
		background: linear-gradient(to bottom, #fffa00, #ffc006);
		color: #000;
		font-size: 18px;
		font-weight: 800;
		letter-spacing: 1px;
		padding: 6px 12px;
		margin-top: 10px;
		border-radius: 10px;
	}
	.black_downloads {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.black_downloads a .text {
		padding-left: 10px;
	}
	.black_downloads li a {
		min-width: 143px;
		max-width: 100%;
	}
	.black_downloads img {
		width: 26px;
	}
	.downloadapp .slider {
		padding: 0 15px;
	}
	.upcomingMatches .slick-arrow {
		width: 30px;
		height: 30px;
	}
	.company_info_item h3 {
		font-size: 1.1em;
	}
	.cont1 {
		display: flex;
		justify-content: space-between;
	}
	.cont1 .company_info_item:last-child {
		transform: translateY(calc(50% + 7.5px));
	}
	.company_info_item img {
		width: 40px;
	}
	.navbar-expand-lg {
		text-align: center;
	}
	.login_menu {
		justify-content: flex-end!important;
		margin-right: 20px;
	}
	.dots-img {
		display: none;
	}
	.company_info_item {
		min-width: auto;
		max-width: calc(50% - 7.5px);
		justify-content: center;
		margin: 0;
		width: 100%;
		min-height: 142px;
		display: flex!important;
		flex-direction: column;
		align-items: flex-start;
	}
	.primarHead::after,.primarHead::before {
		display: none;
	}
	.bottom-banner-img::after {
		left: 4%;
	}
	.bottom-banner-img::before {
		right: 4%;
	}
	.bdr_lr::after,.bdr_lr::before {
		display: none;
	}
	.getDailyFantasy {
		justify-content: center;
	}
	.playStor {
		margin-top: -20px!important;
	}
	.top_header_login .headerBottom {
		display: none;
	}
	.upcomingMatches .slick-arrow {
		margin: 0 -10px;
	}
	.clientSec .slick-arrow {
		height: 25px;
		width: 25px;
		margin: 0 12px;
		line-height: 38px;
	}
	.slick-next:before,.slick-prev:before {
		font-size: 15px;
	}
	.footRow .footCol:first-child {
		margin-top: 0;
	}
	.home-bannerSec .slick-slide a {
	    min-height: calc(100vh - 120px);
	}
	.ratingSec h2 {
		font-size: 24px;
	}
	.ratingSec span, .ratingSec p {
		font-size: 16px;
	}
}
@media (max-width:520px) {
	.videoBox.box-bg {
		height: 260px !important;
	}
}
@media (max-width:480px) {
	.info {
		min-height: 195px;
	}
	.footer_download .black_downloads a{
		min-width: 148px !important;
	}
	.videoBox.box-bg {
		height: 220px !important;
	}
	.slider_grp .info h2 {
		/*font-size: 25px!important;*/
	}
	.clientSec .slick-slide {
	    flex-direction: column;
		padding: 25px 20px 20px;
	}
	.clientImg {
		margin-bottom: 10px;
	}
	.download_item h3 {
	    font-size: 32px;
	}
	.download_item h4 {
	    font-size: 20px;
	}
	.download_item p {
	    font-size: 16px;
	}
	.download_item ul li {
	    font-size: 16px;
	}
	.download_off .black_downloads li a {
	    min-width: 150px;
	}
	.footRow .footCol {
	    width: 48%;
	}
}
@media (max-width:420px) {
	.videoBox.box-bg {
		height: 200px !important;
	}
	.login_menu {
		margin-right: 7px;
	}
	.home-bannerSec .slick-slide a {
	    min-height: calc(100vh - 120px);
	}
	.chaport-container.chaport-position-left .chaport-launcher-button {
	    left: 3px !important;
	}
	.res_top_head .btn {
        padding: 7px 7px;
	}
}
@media (max-width:380px) {
	.videoBox.box-bg {
		height: 180px !important;
	}
	.login_menu {
		margin-right: 0;
	}
}
@media (max-width:359px) {
	.videoBox.box-bg{
		height: 160px !important;
	}
	.res_top_head .btn {
		padding: 7px 10px;
	}
	.partners_logos img {
		width: 65px;
		height: 40px;
		margin-right: 0;
	}
	.slider_grp {
		padding: 0 18px;
	}
	.download_off .black_downloads li a {
	    min-width: 135px;
	    padding-left: 5px;
	}
	.black_downloads img {
	    margin-right: 5px;
	}
}

@media (min-width : 1024px) and (max-width : 1366px) and (orientation : portrait) {
	.home-bannerSec .slick-slide a {
		min-height: calc(100vh - 938px);
		background-size: contain;
	}
}
@media (min-width : 768px) and (max-width : 1023px) and (orientation : portrait) {
	.home-bannerSec .slick-slide a {
		min-height: calc(100vh - 697px);
		background-size: contain;
	}
}

.timer strong {
    color: var(--primaryclr);
    display: block;
    font-weight: 400;
    font-size: 10px;
}
.timer span::after {
    content: ":";
    position: absolute;
    color: var(--primaryclr);
    font-size: 17px;
    right: -2px;
    top: -5px;
}
.slider_item:hover .timer span::after {
    color: #fff;
}
.timer span:last-child::after {
    display: none;
}
.slider_item .timer h4 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider_item h4 {
	font-size: 14px;
	font-weight: 600;
	margin: 5px;
}
.timer>p {
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.slider_item #demo span {
	color: #000;
	padding: 0 3px!important;
}
.timer span {
	display: inline-block;
	font-size: 13px;
	padding: 0 8px;
	color: #fff;
	position: relative;
}
.slider_item #demo strong {
	color: #000;
}
#demo span strong {
	color: #000!important;
}
.d_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider_item figure {
	background-color: #eee;
	border-radius: 50%;
	border: 1px solid transparent;
	height: 55px;
	width: 55px;
	align-items: center;
	display: flex;
	justify-content: center;
}
.slider_item figure img {
	width: 45px;
	height:45px;
}
.slider_item {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	text-align: center;
	padding: 5px;
	transition: all .3s ease-in 0s;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}
.slider_item.active,.slider_item:hover {
	background-color: var(--primaryclr);
}
.slider_item:hover {
	background-color: var(--primaryclr);
}
.slider_item:hover h4 {
	color: #000;
}
.footRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footerSec .quicLink ul li a strong {
	color: var(--primaryclr);
}
.fb {
	background-color: #3b5998;
}
.tw {
	background-color: #55acee;
}
.inst {
	background: #f7944b;
	background: -moz-linear-gradient(left,#f7944b 0,#ca406d 33%,#8549a9 66%);
	background: -webkit-linear-gradient(left,#f7944b 0,#ca406d 33%,#8549a9 66%);
	background: linear-gradient(to right,#f7944b 0,#ca406d 33%,#8549a9 66%);
}
.footerSec a.youtube {
	background-color: #c4302b;
}
.footerSec a.whatsup {
	background-color: #25d366;
}
.gplus {
	background-color: #0073b1;
}
.footerSec .quicLink ul li a {
	color: #c1c1c1;
	position: relative;
	padding-left: 10px;
}
.footerSec .quicLink ul li a:after {
	content: "__";
	position: absolute;
	left: -12px;
	top: -5px;
	z-index: 11;
	letter-spacing: -2px;
	opacity: 0;
	color: var(--primarySecClr);
	transition: all .4s ease-in-out .1s;
}
.footerSec .quicLink ul li a:hover:after {
	opacity: 1;
}
.footerSec .quicLink ul li a:hover {
	margin-left: 10px;
	color: var(--primarySecClr);
}
.footerSec .quicLink ul li {
	margin-bottom: 10px;
}
.footerSec .searchBox h3 {
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	margin-bottom: 15px;
}
.footerSec .mediaIcon {
	margin-top: 20px;
}
.footerSec .mediaIcon li {
	display: inline-block;
	margin-right: 5px;
}
.footerSec .mediaIcon li a {
	display: inline-flex;
	width: 35px;
	height: 35px;
	font-size: 16px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #17161a !important;
	background: #fff;
}
.footerSec .mediaIcon li a:hover {
	transform: scale(1.1);
}
.searchInner .input-group {
	position: relative;
}
.footer_bottom {
	font-size: 14px;
	padding: 15px 0;
	background-color: #17161a;
	border-top: 1px solid rgba(203,212,221,.15);
}
.footerSec.innerFooter {
	padding: 0;
}
.footerSec.innerFooter .footer_bottom {
	margin: 0;
	line-height: 42px;
}
.footerSec.innerFooter .mediaIcon {
	margin-top: 0;
}
.footerSec p {
    margin-top: 10px;
    line-height: 20px;
}
a {
    transition: all .3s ease-in-out;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.clientImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 4px;
	border: 2px solid var(--primarySecClr);
    border-radius: 50%;
}
.footer_download .black_downloads li a:hover{
	border-color: #fff !important;
	background-color: #fff;
	color: #000;
}
.footer_download .black_downloads li a {
    border-color: var(--primaryclr);
	color: #fff;
	min-width: 185px;
	background-color: transparent;
}
.footer_download .black_downloads img, .getDailyFantasy.d-lg-none .black_downloads img{
    filter: brightness(100);
}
.footer_download .news_letter_form{
	margin: 6px 0 !important;
}
.benifits_content li:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
    border: 3px solid var(--primaryclr);
}
.benifits_content li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    color: #212529;
}
li.collapseBtn {
    list-style: none;
}
.collapseBtn .btn-primary {
    background: none;
    border: none;
}
.collapseBtn .btn-primary:hover {
	background: none;
}
.collapseBtn .btn-primary.focus, .collapseBtn .btn-primary:focus {
	box-shadow: none;
}

.download_app {
	background: #17161a;
	color: #fff;
}
.download_app h1 {
	font-size: 28px;
}
.download_app h1, .download_app h5 {
	font-weight: 500;
	letter-spacing: 1px;
}