:root {
    --themebgclr: #363533;
    --themeclr: #fac733;
    --themedarkclr: #053b73;
    --primaryClr: #000;
    /* --primarySecClr: #f3181b; */
    --primarySecClr:#fac733;
    --primaryFont: 'Poppins', sans-serif;
    --primarySecFont: 'Orbitron', sans-serif;
}
.site_header .navbar-brand {
  position: inherit !important;
}
.howToPaySec h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.footerSec {
    background: #000;
    padding: 30px 0 0;
    color: #c1c1c1;
    font-size: 14px;
}
.burger{
  padding-top: 80px;
  padding-bottom: 80px;

}
.tagline {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
}
.comman_heading{
    font-size: 2em;
}
.howToPaySec{
  background: var(--primaryClr);
}
.howToPaySec .icons img{
  cursor: pointer;
  width: 38px;
  padding-bottom: 15px !important;
}
nav.navbar.navbar-expand-lg.site_header {
    width: 100%;
}
.howToPaySec .icon{
    background: var(--themebgclr) none repeat scroll 0 0;
    background-image: linear-gradient(to left, rgba(255,0,0,0), var(--themebgclr));
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.site_header {
    background: transparent;
    border-bottom: #8b8c8b;
    position: absolute;
    top: 0;
    z-index: 9;
    left: 0;
    width: 100%;
}
.login_menu button{
    background: transparent;
    border: 1px solid var(--themeclr);
    transition: all ease .3s;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    line-height: 23px;
}
.login_menu button:hover{
    background: var(--themeclr);
    transition: all ease .3s;
}
.home_banner .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*min-height: 80vh;*/
}
.bg_Img{
    background-image: url('../index_file/images/banner_Img.jpg');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
}
.bg_Img .home_banner {
	padding-top: 100px;
}
.img-box{
    /*position: absolute;
    top: 70%;
    right: 12%;*/
}
.banner_content {
    /*width: 39%;*/
    color: #fff;
    max-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_content h1 {
    /*font-size: 2.2em;*/
    font-weight: 400;
    text-transform: uppercase;
  }
  .company_info_item img {
    width: 60px;
    margin-right: 20px;
  }
.company_info_item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 40%;
    min-width: 185px;
    margin: 0 auto;
    /* border-left: 5px solid var(--themeclr); */
    border-width: ;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}
.company_info_item:hover{
    /*color: #fff;
    background-image: linear-gradient(to bottom right, #f2de6d, #d8b800);*/
    /* border-left: 5px solid transparent; */
}
.company_info_item::after {
  content: "";
  position: absolute;
  border-left: 5px solid var(--themeclr);
  height: 50%;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
}
.company_info_item:hover::after{
  /*border: 0px;*/
}

.lovedByUsers{
  position: relative;
}
.dots-img{
  position: absolute;
  top: 20px;
  right: 0px;
}
.howToPaySec a {
    border-radius: 100px;
}
.upcomingMatches .league{
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 5px 10px 10px;
}
.upcomingMatches .league-match{
  color: #e0be00;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    display: flex !important;
    justify-content: space-between;
}
.upcomingMatches .league-match span{
  color: #000;
}
.upcomingMatches .slick-arrow {
    background: var(--themebgclr);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 9;
    line-height: 55px;
    margin: 0  -20px;
    text-align: center;
}
.upcomingMatches .slick-arrow::before {
    content: "\f054";
    font-family: fontawesome;
    color: #fff;
}
.upcomingMatches .slick-next.slick-arrow::before {
    content: "\f054";
}
.upcomingMatches .slick-arrow::before {
    content: "\f053";
    font-family: fontawesome;
    color: #fff;
}
.getDailyFantasy{
  background: var(--themeclr);
}
.btnPrimary {
  background: var(--themeclr) !important;
  padding: 10px 30px !important;
  border: .5px solid #dededed9 !important;
  font-size: 14px !important;
  font-weight: 600;
  transition: all ease .3s;
  color: #000 !important;
  margin-top: 20px;
  scroll-behavior: smooth;
}
.btnPrimary:hover{
  background-color: var(--themeclr);
}
.company_info_item h3 {
  font-size: 1.2em;
}
.bottom-banner-img{
  width: 100%;
  /* height: calc(100vh - 0px); */
  background-image: url('../index_file/images/bottom-banner.jpg');
  background-size: cover;
  background-position: center right ;
  background-repeat: no-repeat;
  position: relative;
}
.signup_btn a{
  text-decoration: none;
}
.signup_btn .btn-grn{
    background: rgb(234, 67, 52);
    outline: none;
    border: 0px;
    border-radius: 5px;
    padding: 8px 35px;
    display: block;
    font-size: 14px;
    transition: all 0.3s;
    color: #fff;
    font-weight: 600;
}
.signup_btn .btn-grn:hover{
    opacity: 0.8;
    color: #fff;
    transition: all 0.3s;
}
.signup_btn .btn-blu{
    /* background: var(--primarySecClr); */
    outline: none;
    border: 0px;
    border-radius: 5px;
    padding: 8px 25px;
    display: block;
    font-size: 14px;
    transition: all 0.3s;
    color: #fff;
    font-weight: 600;
}
.signup_btn .btn-blu:hover{
    opacity: 0.8;
    color: #fff;
    transition: all 0.3s;
}
.bottom-banner-img::after{
    content: "";
    position: absolute;
    top: 15%;
    left: 20%;
    border-left: 2px solid var(--themeclr);
    border-top: 2px solid var(--themeclr);
    border-radius: 10px 0 0 0;
    width: 15%;
    height: 70%;
}
.bottom-banner-img::before{
    content: "";
    position: absolute;
    top: 20%;
    right: 20%;
    border-right: 2px solid var(--themeclr);
    border-bottom: 2px solid var(--themeclr);
    border-radius: 0 0 10px 0;
    width: 15%;
    height: 70%;
}
.downloadapp .download_app_2 ul.btns li a {
    background-color: #000;
    border: none;
}
.downloadapp .download_app_2 ul.btns li a:hover{
  background-color: #333 !important;
}
.download_app_2 ul.btns li a {
    display: block;
    padding-left: 60px;
    height: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.27);
    position: relative;
    text-decoration: none;
    text-align: left;
    width: 185px;
    white-space: nowrap;
    border: 2px solid #fff;
    border-radius: 6px;
}
.download_app_2 ul.btns li a span.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    left: 15px;
    top: 50%;
    margin-top: -15px;
    display: inline-block;
}
.download_app_2 ul.btns li a span.text {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    margin-top: 6px;
    padding-left: 10px;
    border-left: 1px solid #fff;
}

.download_app_2 ul.btns li a span.text span.small {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    color: #fff;
}
.download_app_2 ul.btns li a span.text span.big {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: left;
    color: #fff;
}
.download_app_2 ul.btns {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.download_app_2 ul.btns li{
  display: inline-block;

}
.how-to-play-box:last-child .iconset::after{
  content: none;
}
.review_item img {
    margin-bottom: 10px;
    background-color: #eee;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #eee;
}
.review_item h5{
  font-weight: bold;
}
.review_item p{
  opacity: .75;
}
.review_stars.nav {
    color: var(--themeclr);
}
.review_stars li:last-child{
  color: #ddd;
}

.footer_menu a:hover{
  opacity: 1;
}
.footer_menu a{
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  transition: all ease .3s;
  color: #fff;
  opacity: .7;
}
.social_menu a {
    color: #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    font-size: 14px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}
.social_menu a:hover {
  color: #343a40;
  background-color: #fff;
  border-color: #fff;
}
.league-match > img {
    max-height: 60px;
}
ul li {
  list-style: none;
}
.black_downloads {
    padding: 0;
    display: flex;
    align-items: center;
}
.black_downloads li a {
    height: 50px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25.6px;
    transition: all 0.2s ease-in 0s;
    background-color: #000;
    min-width: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 600;
}
.black_downloads img {
    cursor: pointer;
    width: 35px;
    margin-right: 10px;
}
.black_downloads  a .text .small {
  display: block;
}
.black_downloads a .text {
    border-left: 1px solid #aaa;
    padding-left: 20px;
}
.black_downloads li a:hover {
    background-color: #fff;
    color: #000;
}
.black_downloads li a:hover img {
    filter: brightness(20%);
}
.clientSec {
    padding: 30px 0;
  }
  .clientSec .slick-slide {
    margin: 0 15px;
    background: #fff;
    padding: 19px 50px;
    box-shadow: 0 2px 18px rgba(0,0,0,0);
    border-radius: 16px;
    position: relative;
  }
  .clientSec .slick-arrow {
    background: var(--themebgclr);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 9;
    line-height: 55px;
    margin: 0 -20px;
    text-align: center;
  }
  .clientSec .slick-arrow::before{
    content: "\f053";
    font-family: fontawesome;
    color: #fff;
  }
  .clientSec .slick-next.slick-arrow::before{
    content: "\f054";
  }
  .clientSec .slick-current.slick-active{
    box-shadow: 0 2px 18px rgba(0,0,0,0.2);
  }
.clientSec .slick-slide::after {
    content: "";
    position: absolute;
    background: url('../index_file/images/queteBtm.png');
    width: 28px;
    height: 24px;
    top: 18px;
    left: 15px;
    background-size: cover;
  }
  .clientSec .slick-slide::before {
    content: "";
    position: absolute;
    background: url('../index_file/images/quateBtm.png');
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 15px;
    background-size: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
  }
  .clientSec .slick-list.draggable {
    padding: 25px 0 !important;
  }
  .clientSec h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #000714;
  }
  .clientSec .slick-slide p{
    color: rgba(0,7,20,0.8);
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
  }
  .clientImgbox {
    position: relative;
    padding-left: 90px;
    min-height: 60px;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  .clientImgbox h4 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
  }
  .clientImgbox span{
    color: #073481;
  }
  .clientImg {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    backface-visibility: hidden;
  }

.howToPaySec .primarHead h3{
    position: relative;
}
.howToPaySec .primarHead h3::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 10%;
    border: 1px solid var(--themeclr);
    border-color: var(--themeclr);
}
.howToPaySec .primarHead h3::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 20%;
    width: 10%;
    border: 1px solid var(--themeclr);
}

.bdr_lr h3{
    position: relative;
}
.bdr_lr h3::after{
    content: "";
    position: absolute;
    top: 40%;
    left: 20%;
    width: 10%;
    border: 1px solid var(--themeclr);
    border-color: var(--themeclr);
}
.bdr_lr h3::before{
    content: "";
    position: absolute;
    top: 40%;
    right: 20%;
    width: 10%;
    border: 1px solid var(--themeclr);
}
.home-slider .slider_item {
  margin: 5px 10px;
  box-shadow: 1px 1px 5px #ccc;
  background: #f8f9fa;
}
.home-slider .slick-arrow {
    background-color: #000 !important;
    line-height: 4px !important;
}
html {
  scroll-behavior: smooth !important;
}

@media (min-width: 768px){
  .site_header .row{
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .clientSec .slick-next{
    right: -10px;
  }
  .clientSec .slick-prev{
    left: -10px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .bannerConte {
    padding: 0 5%;
  }
  .loginSignup{
    padding: 30px 10px;
  }
  .footerSec .mediaIcon li {
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .footerSec .mediaIcon li a {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
  .cont2 .company_info_item {
    margin-left: 15%;
  }
  .app_banner .black_downloads{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1199px){
  .img-box{
    /*position: absolute;
    top: 50%;
    right: 9%;
    width: 450px;*/
  }
  .dots-img{
    width: 140px;
    top: 5%;
  }
  .bottom-banner-img::after{
    left: 10%;
  }
  .bottom-banner-img::before{
    right: 10%;
  }
}
@media only screen and (max-width: 1024px){
  .img-box{
    /*position: absolute;
    top: 83%;
    right: 9%;
    width: 400px;*/
  }
}
@media only screen and (max-width: 991px){
    .freeEntry h3{
    line-height: 35px !important;
    font-size: 1.65em;
  }
  .banner_content{
    /*width: 55%;*/
  }
  .img-box{
    /*position: absolute;
    top: 79%;
    right: 6%;
    width: 300px;*/
  }
  .black_downloads{
    display: block;
  }
  .black_downloads li a{
    max-width: 120px;
    margin-top: 5px;
  }
  .playStor{
    margin-top: -50px !important;
  }
  .howToPaySec .primarHead h3::after{
    left: 10%;
  }
  .howToPaySec .primarHead h3::before{
    right: 10%;
  }
  .bdr_lr h3::after{
    left: 10%;
  }
  .bdr_lr h3::before{
    right: 10%;
  }
  .upcomingMatches .upcoming h2::before, .howToPlaySec .howToPlay h2::before{
    right: -45% !important;
    width: 25% !important;
  }
  .upcomingMatches .upcoming h2::after, .howToPlaySec .howToPlay h2::after{
    left: -45% !important;
    width: 25% !important;
  }
  .footer-logo{
    display: block !important;
  }
  .slider_item figure{
    height: 50px;
    width: 50px;
  }
  .timer span{
    font-size: 12px;
  }
  .clientSec .slick-slide{
    padding: 45px 10px 10px;
  }
  .bg_Img .home_banner {
    padding-top: 80px;
  }
  .home_banner .login_menu li a button{
	padding: 8px !important;
  }
}

@media only screen and (max-width: 767px){
  .bg_Img{
  	height: auto;
  }
  .bg_Img .home_banner .d-flex.justify-content-end
  .clientSec .slick-slide{
    padding: 50px  20px 20px 20px;
  }
  .clientSec .slick-slide p{
    padding-left: 0;
  }
  .clientSec .slick-slide::after{
    left: 20px;
  }
  .burger {
    padding-top: 60px;
    padding-bottom: 60px;
}
  .upcomingMatches .slick-arrow{
    margin: -7px -10px;
  }
  .home_banner {
    padding: 50px 0 20px;
  }
  .login_menu li:first-child{
    margin-right: 7px;
  }
  .login_menu a {
      padding: 0;
  }
  .login_menu button {
    padding: 4px 14px !important;
    font-size: 13px;
  }
  .navbar-brand img {
    max-width: 110px;
  }
  .banner_content{
    width: 100%;
  }
  .img-box{
    display: none;
  }
  .dots-img{
  	display: none;
  }
  .howToPaySec .primarHead h3::after {
    left: 2%;
    width: 12%;
  }
  .howToPaySec .primarHead h3::before {
    right: 2%;
    width: 12%;
  }
  .bottom-banner-img::after{
    left: 5%;
  }
  .bottom-banner-img::before{
    right: 5%;
  }
  .bdr_lr h3::after{
    left: 2%;
    width: 12%
  }
  .bdr_lr h3::before{
    right: 2%;
    width: 12%
  }
  .footRow {
      flex-direction: column;
  }
  .clientSec .slick-arrow{
    margin: 0 -5px;
  }
  .footerLogo, .quicLink {
    margin-bottom: 25px;
  }
  .footerLogo img {
    width: 30%;
  }
  .payment-logo img:first-child {
    width: 15%;
  }
  .payment-logo img:last-child {
    width: 25%;
  }
  .securedBy img {
    width: 20%;
  }
  .upcomingMatches .upcoming h2::before, .howToPlaySec .howToPlay h2::before {
    right: -30% !important;
    width: 20% !important;
  }
  .upcomingMatches .upcoming h2::after, .howToPlaySec .howToPlay h2::after {
    left: -30% !important;
    width: 20% !important;
  }
}

@media (max-width: 575px){
  .black_downloads{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  .black_downloads a .text{
    padding-left: 10px ;
  }
  .black_downloads img{
    width: 26px;
  }
  .downloadapp .slider{
    padding: 0 15px;
  }
  .upcomingMatches .slick-arrow{
    width: 30px;
    height: 30px;
  }
  .company_info_item h3 {
    font-size: 1.1em;
  }
  .cont1{
    display: flex;
    justify-content: space-between;
  }
  .cont1 .company_info_item:last-child{
    transform: translateY(calc(50% + 7.5px));
  }
  .company_info_item img{
    width: 40px;
  }
  .navbar-expand-lg{
    text-align: center;
  }
  .login_menu{
    justify-content: flex-end !important;
  }
  .dots-img{
    display: none;
  }
  .company_info_item{
    min-width: auto;
    max-width: calc(50% - 7.5px);
    justify-content: center;
    margin: 0;
    width: 100%;
    min-height: 142px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .primarHead::after, .primarHead::before{
    display: none;
  }
  .bottom-banner-img::after{
    left: 4%;
  }
  .bottom-banner-img::before{
    right: 4%;
  }
  .bdr_lr::after, .bdr_lr::before{
    display: none;
  }
  .getDailyFantasy{
    justify-content: center;
  }
  .playStor{
    margin-top: -20px !important;
  }
  .top_header_login .headerBottom {
    display: none;
  }
  .footRow {
    flex-direction: column;
  }
  .upcomingMatches .slick-arrow{
    margin: 0px -10px;
  }
  .clientSec .slick-arrow{
    height: 25px;
    width: 25px;
    margin: 0 12px;
    line-height: 38px;
  }
  .slick-prev:before, .slick-next:before{
    font-size: 15px;
  }
  .footRow .footCol {
    margin-top: 15px;
  }
  .footRow .footCol:first-child {
    margin-top: 0;
  }
  .dots-img{
    display: none;
  }
  .upcomingMatches .upcoming h2::before, .howToPlaySec .howToPlay h2::before {
    right: -20% !important;
    width: 15% !important;
  }
  .upcomingMatches .upcoming h2::after, .howToPlaySec .howToPlay h2::after {
    left: -20% !important;
    width: 15% !important;
  }
  .howToPaySec .primarHead::before {
    right: 5%;
  }
  .howToPaySec .primarHead::after {
    left: 5%;
  }
  .upcomingMatches .upcoming h2 {
    font-size: 20px;
  }
  .howToPaySec .primarHead h3 {
    font-size: 20px;
  }
  .clientSec h3{
    font-size: 20px;
    font-weight: 600;
  }
  .howToPaySec .primarHead h3::after {
    left: 20%;
    width: 6%;
  }
  .howToPaySec .primarHead h3::before {
    right: 20%;
    width: 6%;
  }
  .bdr_lr h3::after{
    left: 22%;
    width: 7%
  }
  .bdr_lr h3::before{
    right: 22%;
    width: 7%
  }
  .bg_Img .home_banner .banner_content h1{
  	font-size: 30px;
  }
}

@media (max-width: 480px){
  .black_downloads li a{
    min-width: 155px;
    max-width: 100%;
  }
  .howToPaySec .primarHead h3::after {
    left: 2%;
    width: 10%;
  }
  .howToPaySec .primarHead h3::before {
    right: 2%;
    width: 10%;
  }
  .bdr_lr h3::before {
    right: 4%;
    width: 10%;
  }
  .bdr_lr h3::after {
    left: 4%;
    width: 10%;
  }
  .securedBy img {
    width: 30%;
  }
  .home_banner .login_menu li a button{
    min-width: 140px !important;
    font-size: 16px !important;
  }
}

@media (max-width: 355px){
  .black_downloads li a{
    min-width: 140px;
    max-width: 100%;
  }
  .howToPaySec .primarHead h3::after {
    left: -2%;
  }
  .howToPaySec .primarHead h3::before {
    right: -2%;
  }
  .bdr_lr h3::before {
    right: 0%;
  }
  .bdr_lr h3::after {
    left: 0%;
  }
  .securedBy img {
    width: 35%;
  }
  .footerLinks ul li {
    padding: 0 5px !important;
  }
}

.howToPaySec ul {
  display: flex;
  flex-wrap: wrap;
}

.howToPaySec ul li:first-child, .howToPaySec ul li:nth-child(2) {
  margin-bottom: 30px;
}

.howToPaySec ul li {
    width: 50%;
}

.howToPaySec h4:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--themeclr);
  left: 0;
  z-index: 1;
  bottom: 0;
}

.howToPaySec h4 {
  position: relative;
  padding-bottom: 18px;
}


section.upcomingMatches {
  background: #fff !important;
}
.upcomingMatches .upcoming h2{
  position: relative;
}
.upcomingMatches .upcoming h2::before, .howToPlaySec .howToPlay h2::before{
  content: "";
  position: absolute;
  top: 50%;
  right: -65%;
  width: 40%;
  border: 1px solid var(--themeclr);
}
.upcomingMatches .upcoming h2::after, .howToPlaySec .howToPlay h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -65%;
  width: 40%;
  border: 1px solid var(--themeclr);
  border-color: var(--themeclr);
}
.footerLinks ul li{
  padding: 0 10px;
}
.footerLinks ul li a{
  color: #c1c1c1;
}
.footerLinks ul li a:hover{
  color: var(--primaryclr);
}
.home_banner .login_menu{
  /*margin: 0 0 0 50%;*/
}
.home_banner .login_menu li a button{
    min-width: 160px;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid var( --themeclr);
	background-image: linear-gradient(140deg, #20c997, #fac733, #fac733);
}
.home_banner .login_menu li a button:hover{
	background: transparent;
}
.home_banner .login_menu li:last-child a {
  padding-right: 1rem;
}
.bg_Img .home_banner .banner_content .swiper-slide p{
	font-size: 16px;
}

.step-list li {
    margin-bottom: 28px;
    padding-left: 60px;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    opacity: .9;
    /*color: #6c757d;*/
}
.step-list li span {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: var(--themeclr);
    margin-right: 10px;
    left: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 40px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
.step-list li p{
	font-size: 14px;
}
.videoBox {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
section.howToPlaySec{
	background: #f8f9fa;
}
.howToPlaySec .howToPlay h2{
	position: relative;
}
.howToPlaySec .howToPlay h2